/*Start CSS*/

header {
    margin: 0;
    padding: 0;
    border:0;
    background-color:goldenrod;
    color:white; 
    height:150%;
    text-align: center;
}
body{
    margin:0;
    padding:0;
}
.title{
    text-align: left;
}

p{
   word-wrap: normal;
   width:300px;
}

.contactInfo {
    float:right;
}


/*End CSS*/