/*Start CSS*/

header {
    background-color: blue;
    width: 100%;
    height:100px;
    text-align: center;
}

.title{
    text-align: left;
}

p{
   word-wrap: normal;
   width:300px;
}

.contactInfo {
    float:right;
}


/*End CSS*/